<div class="container my-5">
  <div class="row">
    <div class="col-md-12">
      <ul>
        <li>{{ selectedCustomer.name }}</li>
        <li>{{ selectedCustomer.age }}</li>
        <li>{{ selectedCustomer.gender }}</li>
        <li>{{ selectedCustomer.company }}</li>
        <li>{{ selectedCustomer.email }}</li>
        <li>{{ selectedCustomer.phone }}</li>
        <li>{{ selectedCustomer.address }}</li>
      </ul>

      <p><a routerLink='../../customer'>Back</a></p>
    </div>
  </div>
</div>
