<div class="container my-5">
  <div class="row">
    <div class="col-md-12">
      <ng-container *ngIf='identifier != 0; else noCustomerWarning'>
        <h3 class="mb-4">Mostrando los datos del cliente {{ identifier }} - {{ selectedCustomer.name }}</h3>
        <ul class="list-group mb-4">
          <li class="list-group-item"><strong>Name:</strong> {{ selectedCustomer.name }}</li>
          <li class="list-group-item"><strong>Age:</strong> {{ selectedCustomer.age }}</li>
          <li class="list-group-item"><strong>Gender:</strong> {{ selectedCustomer.gender }}</li>
          <li class="list-group-item"><strong>Company:</strong> {{ selectedCustomer.company }}</li>
          <li class="list-group-item"><strong>email:</strong> {{ selectedCustomer.email }}</li>
          <li class="list-group-item"><strong>Phone:</strong> {{ selectedCustomer.phone }}</li>
          <li class="list-group-item"><strong>Address:</strong> {{ selectedCustomer.address }}</li>
        </ul>
      </ng-container>

      <ng-template #noCustomerWarning>
        <p class="text-danger"><strong></strong></p>
        <div class="alert alert-danger" role="alert">
            El cliente solicitado no existe
        </div>
      </ng-template>

      <p><a routerLink='../../customer' class="btn btn-primary">Back</a></p>
    </div>
  </div>
</div>
